<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar sticky-top mt-1 mx-1 rounded navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">CodeAddiction</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% block homeactive %} {% endblock homeactive %}" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block blogactive %}{% endblock blogactive %}" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block aboutactive %}{% endblock aboutactive %}" href="/">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block contactactive %}{% endblock contactactive %}" href="/contact">Contact Us</a>
                    </li>
                </ul>
                 <div class="collapse ms-5 navbar-collapse">
                    <span class="text-info"> Welcome {{request.user|truncatechars:12}}</span>
                </div>
                <!-- ********** Search ********** -->
                <form class="d-flex" action="/search/" method="post" >
                    {% csrf_token %}
                    <input class="form-control me-2" name = "query" id="query" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-sm btn-outline-light text-info" type="submit">Search</button>
                </form>
                <div>
                    {% if user.is_authenticated %}
                        <div class="mx-1">
                            <a href="/logout" role="button" class=" btn btn-outline-light text-info">Logout</a>
                        </div>

                    {% else %}
                        <!-- Button Login trigger modal -->
                        <button type="button" class="btn mx-2 btn-outline-light text-info" data-bs-toggle="modal" data-bs-target="#LoginModal">
                            Login
                        </button>
                        <!-- Button SignUp trigger modal -->
                        <button type="button" class="btn btn-outline-light text-info" data-bs-toggle="modal" data-bs-target="#SignUpModal">
                            SignUp
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <!-- *********** Messages *********** -->
    {% for message in messages %}
        <div class="alert alert-{{message.tags}} mb-0 alert-dismissible fade show" role="alert">
            <strong>Message : </strong> {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}


<!-- ******************* login start here ********************-->
<!-- Login Modal -->
<div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title-login-modal">Login Here</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

      </div>
      <div class="modal-body">
        <!-- ****** Login form ****** -->
        <div class="container">
            <form action="/login" method="post">
            {% csrf_token %}
                <div class="mb-2">
                    <label for="loginusername" class="form-label">Username</label>
                    <input type="text" Required class="form-control" name="loginusername" id="loginusername" placeholder="Enter Your Username">
                </div>
                <div class="mb-2">
                    <label for="loginpass" class="form-label">Password</label>
                    <input type="password" Required name="loginpass" class="form-control" id="loginpass" placeholder="Enter Your Password">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-light text-info">Submit</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ******************* login end here ********************-->

<!-- ******************* signup start here ********************-->
<!-- SignUp Modal -->
<div class="modal fade" id="SignUpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mb-0" id="title-signup-modal">SignUp Here</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- ****** SignUo form ****** -->
        <div class="container">
            <small style="color:red;">( username and password should be more then 5 charcters )</small> 
            <form action="/signup" method="post">
            {% csrf_token %}
                <div class="mb-1">
                    <small id="result"> </small>
                    <label for="signupusername" class="form-label"> Username </label>
                    <input type="text" class="form-control" Required name="username"  id="signupusername" placeholder="Enter Your Username">
                </div>
                <div class="mb-1">
                    <label for="fname" class="form-label"> First Name </label>
                    <input type="text" class="form-control" Required name="fname" id="fname" placeholder="Enter Your First Name">
                </div>
                <div class="mb-1">
                    <label for="lname" class="form-label"> Last Name </label>
                    <input type="text" class="form-control" Required name="lname" id="lname" placeholder="Enter Your Last Name">
                </div>
                <div class="mb-1">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" Required name="email" id="email" placeholder="Enter Your Email Id">
                </div>
                <div class="mb-1">
                    <label for="pass1" class="form-label">Password </label>
                    <input type="password" class="form-control" Required name="pass1" id="pass1" placeholder="Enter Your Password">
                </div>
                <div class="mb-1">
                    <label for="pass2" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" Required name="pass2" id="pass2" placeholder="Again Enter Your Password">
                </div>
                 <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-light text-info">Submit</button>
                </div>
            </form>
        </div>
      </div>
     
    </div>
  </div>
</div>


<!-- ******************* signup end here ********************-->

    {% block body_content %}
    
    {% endblock body_content %}

    {% block pagination %}
    
    
    {% endblock pagination %}

<!-- Footer -->
<div >
    <footer class="rounded bg-dark mb-1 pt-3 pb-1  text-light">
        <p  class="text-center">Copyright © 2021 CodeAddiction</p>
    </footer>
</div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>